*/run
*/logs
**/*.js
**/*.jsc
**/typings/app
**/typings/config
server-op/app/public

.env*

.DS_Store
.vscode
.github
.travis.yml
appveyor.yml

package-lock.json

node_modules
coverage
swagger.json
yarn-error.log

yarn.lock

core.*
lerna-debug.log

dist

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

**/*.sql
**/*.sqlite
**/*.sqlite3
